body{
  font-family: 'Stick No Bills', sans-serif;
  background-color: black;
  color: white;
}
a{
  height: 100%;
}
#logo{
  height: 80px;
}
.nav-item{
  font-size: 250%;
}
.aheader{
  text-align: center;
  font-size: 400%;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
}
.achievements{
  text-align: center;
  font-size: 200%;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
}